html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

#root {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.timer {
    text-align: center;
    color: white;
}

.timerTablo {
 font-size: 200%;
}

.first {
    flex-basis: 35%;
    display: flex;
}

.second {
    flex-basis: 65%;
    text-align: center;
}

.third {
    flex-basis: 10%;
    display: flex;
    text-align: center;
    justify-content: space-around;
}

button {
    height: 25px;
}

.sizeInput {
    height: 19px;
}

.firstTeam {
    height: 100%;
    width: 50%;
}

.secondTeam {
    height: 100%;
    width: 50%;
}

.black {
    background-color: black;
}

.white {
    background-color: white;
    height: 100%;
    width: 100%;
}

.green {
    background-color: lawngreen;
}

.red {
    background-color: red;
}

.gray {
    background-color: lightgray;
}

.plus {
    color: #16b600;
}

.minus {
    color: red;
}

.hidden {
    color: gray;
    opacity: 15%;
}

.blackColor {
    color: black;
}

